<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>mynetworkfolders</string>
	<key>CFBundleGetInfoString</key>
	<string>My Network Folders 0.18, © 2010 EBS Ltd.</string>
	<key>CFBundleIconFile</key>
	<string>mynetworkfolders</string>
	<key>CFBundleIdentifier</key>
	<string>com.mynetworkfolders.desktop</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MyNetworkFolders</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.18</string>
	<key>CFBundleSignature</key>
	<string>MNFD</string>
	<key>CFBundleVersion</key>
	<string>0.18</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
</dict>
</plist>
